{% extends "base.twig" %}

{% block spec_styles %}
  <!-- shop styles -->
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/single-product.css" />
{% endblock %}

{% block content %}
  <div id="product-{{post.id}}" itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}">
    <div class="content-area uk-section uk-section-small uk-section-default">
      <div class="uk-container">
        {% do action('woocommerce_before_single_product') %}
        
        <div class="uk-child-width-1-2@m" uk-grid="masonry: true;">
          
          <div class="product-left">
            {% do action('woocommerce_before_single_product_summary') %}
          </div>
          
          <div class="product-right">
            {% do action('woocommerce_single_product_summary') %}
          </div>
        
        </div>
        
        <div class="tabs-related-upsells uk-margin-top">
          {% do action('woocommerce_after_single_product_summary') %}
          
          <meta itemprop="url" content="{{ post.link }}" />
          
          {% if not related_products is empty %}
            <h2>{{related_products_title}}</h2>
            <div uk-slider="velocity: 5">
              <div class="uk-position-relative">
                <div class="uk-slider-container">
                  <ul class="uk-slider-items uk-child-width-1-4@m uk-grid uk-grid-small">
                    {% for post in related_products %}
                      {% include 'tease-product.twig' %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="uk-visible@xl">
                  <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                  <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
              </div>
              <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
          {% endif %}
          
          {% if not up_sells is empty %}
            <h2>{{up_sells_title}}</h2>
            <div uk-slider="velocity: 5">
              <div class="uk-position-relative">
                <div class="uk-slider-container">
                  <ul class="uk-slider-items uk-child-width-1-4@m uk-grid uk-grid-small">
                    {% for post in up_sells %}
                      {% include 'tease-product.twig' %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="uk-visible@xl">
                  <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                  <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
              </div>
              <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
          {% endif %}
          
        </div>
        
        {% do action('woocommerce_after_single_product') %}
      </div>
    </div>  
  </div>
{% endblock %}

{% block spec_scripts %}
  <script type='text/javascript' src='{{theme.link|e('esc_url')}}/assets/js/woo/single-product.js'></script>
{% endblock %}