<div id="post-{{post.ID}}" class="the-post item {{ post.class }}" data-template="tease-post.twig">
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top fat-border-bottom">
      {% if post.get_thumbnail %}
      <a title="{{ post.thumbnail.title }}" href="{{post.link}}">
        <img data-src="{{ post.thumbnail.src }}" width="800" height="300" alt="{{ post.thumbnail.alt }}" uk-img>
      </a>
      {% endif %}
    </div>
    <div class="uk-card-body uk-padding-small">
      <div class="uk-child-width-1-2 uk-grid-small" uk-grid>
        <div>
          <div>
            {% for category in post.categories %}
              {% if not loop.last %}
                <a title="{{ category }}" class="cat-link" href="{{ category.link }}">{{ category }}</a>,
              {% endif %}
              {% if loop.last %}
                <a title="{{ category }}" class="cat-link" href="{{ category.link }}">{{ category }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div>
          <div class="uk-text-right post-date">
            {{post.date | date}}
          </div>    
        </div>
      </div>
      <h3 class="uk-card-title uk-margin-small-top"><a title="{{post.title}}" class="uk-link-reset" href="{{post.link}}">{{post.title}}</a></h3>
      <p>{{ post.preview.length(16).read_more('Read more') }}</p>
    </div>
  </div>
</div>