{% extends "base.twig" %}

{% block content %}

{% set slider_group = options.homepage_slider %}
{% set how_to_group = options.homepage_how_to_play_blocks %}
{% set featured_comps_group = options.homepage_featured_competitions %}

<div data-block="content" data-template="page-home.twig">

  <div class="slider-section ">
    
    <div class="">
        
      <div class="home-slider uk-position-relative uk-visible-toggle uk-light uk-animation-slide-right" tabindex="-1" uk-slider="autoplay: true">
      
          <ul class="uk-slider-items uk-grid uk-grid-match uk-grid-collapse">

            {% for slides in slider_group %}
            
              {% for slide in slides %}
              
              <li class="uk-width-1-1">
                <div class="uk-inline">
                  <img class="slider-image" data-src="{{ Image(slide.slide_image) }}" alt="{{ Image(slide.slide_image).alt }}" uk-img>
                  <div class="uk-overlay uk-overlay-primary uk-light uk-position-bottom uk-text-center uk-animation-fade">
                    <div class="uk-container uk-container-small">
                      <h2>{{slide.slide_heading}}</h2>
                      <p>{{slide.slide_description}}</p>
                      <a href="{{slide.slide_button_link}}" class="uk-button uk-button-primary">{{slide.slide_button_text}}</a>
                    </div>
                  </div>
                </div>
              </li>
              
              <!-- <li class="uk-width-1-1 uk-cover-container">
                <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-left uk-text-left" style="background-image: url({{ Image(slide.slide_image) }});">
                <div class="uk-container uk-flex-auto uk-position-relative">
                  <p class="uk-position-center-right uk-text-right uk-padding-large uk-background-primary">
                  some text
                  </p>
                </div>
                </div>
              </li> -->
              
              {% endfor %}
            
            {% endfor %}

          </ul>
      
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
      
      </div>
      
    </div>

  </div>
  
  <div class="uk-section uk-section-muted fat-border-top">

    <div class="uk-container">
      
      <h2 class="uk-text-center uk-margin-bottom">
        {{ how_to_group.how_to_title }}
      </h2>
      
      <div class="uk-child-width-1-3@s uk-text-center uk-margin-large-bottom" uk-grid>
        
        {% for how_to_blocks in how_to_group %}
        
          {% for how_to_block in how_to_blocks %}
          
            {{how_to_block.how_to_block}}
          
          {% endfor %}
        
        {% endfor %}
        
      </div>
      
      <h2 class="uk-text-center uk-margin-bottom">{{ featured_comps_group.featured_competitions_title }}</h2>
        
      <div uk-slider>
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
          <div class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-grid-small">
            
            {% for post in slider_products %}
              {% include 'tease-product.twig' %}
            {% endfor %}
            
          </div>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
      
    </div>

  </div>
  
  {% include 'cta.twig' %}
  
</div>
{% endblock %}