<!DOCTYPE html>
<html {{site.language_attributes}}>

<head>
  
  <meta charset="{{site.charset}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {{ function('wp_head') }}
  
  {% block spec_styles %}
  {% endblock %}
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap" rel="stylesheet">
  
  <!-- font awesome icons -->
  <link rel="stylesheet" href="{{theme.link}}/assets/css/all.min.css" />
  
  <!-- global woocommerce theme styles -->
  <link rel="stylesheet" href="{{theme.link}}/assets/css/woo.css" />
  
  <!-- theme styles -->
  <link rel="stylesheet" href="{{theme.link}}/assets/css/theme.css" />
  
</head>

{% block bodywrap %}

  <body class="{{ body_class }}" data-template="base.twig">

    <div id="SiteWrapper">

      {% block header %}
        {% include 'header.twig' %}
      {% endblock %}
      
      <main role="main" id="MainContent">
        {% block content %}
        
          {% block pageheader %}
          {% endblock %}
          
          <section id="ContentSection" class="uk-section uk-background-default">
            {% block contentwrap %}
              {% block contentonly %}
                <p>Sorry, Nothing to Display!!</p>
              {% endblock %}
            {% endblock %}
          </section>
          
        {% endblock %}
        
        {% block abovefooter %}
        {% endblock %}
        
      </main>
      
      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}

    </div>
    
    {{ function('wp_footer') }}

  	<script type='text/javascript' src='{{theme.link}}/assets/js/woo.js'></script>
    
    {% block spec_scripts %}
    {% endblock %}
    
  </body>

{% endblock %}

</html>