<!DOCTYPE html>
<html {{site.language_attributes}}>

<head>
  <meta charset="{{site.charset}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ function('wp_head') }}
</head>

{% include 'styles.twig' %}

<body class="{{ body_class }}" data-template="base.twig">

  <div id="SiteWrapper" class="site-wrapper">

    {% block header %}
    {% include 'header.twig' %}
    {% endblock %}
    
    <main role="main" id="MainContent">
      {% block content %}
      <div id="SiteContent" class="">
        {% include 'breads.twig' %}
        <div id="ContentArea" class="uk-section uk-section-small uk-section-muted">
          <div id="ContentWrap" class="uk-container">
            {% block contentwrap %}
            <div id="MainTitle" class="">
              <h1 class="uk-heading-line uk-text-bold"><span>{{ title }}</span></h1>
            </div>
            <div id="MainContent" class="uk-card uk-card-default uk-card-body">
              {% block contentonly %}
              <p>Sorry, Nothing to Display!!</p>
              {% endblock %}
            </div>
            {% endblock %}
          </div>
        </div>
      </div>
      {% endblock %}
    </main>
    
    {% block footer %}
    {% include 'footer.twig' %}
    {% endblock %}

  </div>
  
  {{ function('wp_footer') }}

  {% if is_paginated %}
  <script src="/wp-content/themes/sixstar-theme/assets/js/main/scroll.js"></script>
  {% endif %}
</body>
<!-- /body -->

</html>