<!DOCTYPE html>
<html {{site.language_attributes}}>

<head>
  <meta charset="{{site.charset}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {{ function('wp_head') }}
  
  <link rel="stylesheet" href="/wp-content/themes/sixstar-theme/node_modules/@fortawesome/fontawesome-free/css/all.css">
  
  {{options.header_embed_codes}}
  
  <!-- styles per template -->
  {% block spec_styles %}
  {% endblock %}
  <!-- /styles per template -->
  
  <link rel="stylesheet" href="/wp-content/themes/sixstar-theme/assets/css/global.css">
  
</head>

{% block bodywrap %}

<body class="{{ body_class }} no-overflow" data-template="base.twig">
  <div class="theme-preload"></div>

  <div id="SiteWrapper" class="site-wrapper">

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}
    
    <main role="main" id="MainContent" class="main_content">
      {% block content %}
        <div class="">
          <div class="uk-background-muted">
            <div class="breads_area uk-container">
              {% include 'breads.twig' %}
            </div>
          </div>
          <div class="content-area uk-section uk-section-small uk-section-muted">
            <div class="uk-container uk-margin-large-bottom">
              {% block contentwrap %}
                <div class="">
                  <h1 class="uk-heading-line uk-text-bold">
                    <span>{{ title }}</span>
                  </h1>
                </div>
                <div class="uk-card uk-card-default uk-card-body">
                  {% block contentonly %}
                    <p>Sorry, Nothing to Display!!</p>
                  {% endblock %}
                </div>
              {% endblock %}
            </div>
          </div>
        </div>
      {% endblock %}
    </main>
    
    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}

  </div>
  
  {{ function('wp_footer') }}

  {% if is_paginated %}
    <script src="/wp-content/themes/sixstar-theme/assets/js/main/scroll.js"></script>
  {% endif %}
  
  <script src="/wp-content/themes/sixstar-theme/assets/js/global.js"></script>
  
  <!-- scripts per template -->
  {% block spec_scripts %}
  {% endblock %}
  <!-- /styles per template -->
  
</body>
<!-- /body -->

{% endblock %}

</html>