{% extends "base.twig" %}

{% block spec_styles %}
  <!-- load in swiper-js css -->
  <link rel="stylesheet" href="{{theme.link}}/assets/css/lib/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{theme.link}}/assets/css/front.css" />
{% endblock %}

{% block pageheader %}
  <div id="slideshow_banner" class="swiper-container">
    <div class="swiper-wrapper">
      
      {% for slide in home_slides %}
        {% if slide.thumbnail %}
          {% set thumb = slide.thumbnail.src|resize(1920, 370) %}
        {% else %}
          {% set thumb = 'https://via.placeholder.com/1920x370.png?text=Add+a+featured+image' %}
        {% endif %}
        
        <div class="swiper-slide" style="background-position: center;background-image: url('{{ thumb }}');background-size: cover;background-repeat: no-repeat;">
          <div class="uk-overlay-primary uk-light uk-width-1-1">
            <div class="uk-section uk-secton-large">
              <div class="uk-container uk-container-expand uk-text-left">
                <div class="uk-width-1-2@m">
                  <h4 class="uk-margin-small-bottom uk-h5">{{slide.home_banner_slide_subtitle}}</h4>
                  <h2 class="uk-margin-small-top uk-h1">{{slide.title}}</h2>
                  <p>{{slide.content}}</p>
                  <a href="{{slide.home_banner_slide_button_link}}" class="uk-button uk-button-primary">{{slide.home_banner_slide_button_text}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      
      {% if home_slides is empty %}
        <div class="swiper-slide" style="background-position: center;background-image: url('https://via.placeholder.com/1920x370');background-size: cover;background-repeat: no-repeat;">
          <div class="uk-overlay-primary uk-light uk-width-1-1">
            <div class="uk-section uk-secton-large">
              <div class="uk-container uk-container-expand uk-text-left">
                <div class="uk-width-1-2@m">
                  <h4 class="uk-margin-small-bottom uk-h5">Slide One</h4>
                  <h2 class="uk-margin-small-top uk-h1">Example Slider</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                  <a href="#" class="uk-button uk-button-primary">Get started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" style="background-position: center;background-image: url('https://via.placeholder.com/1920x370');background-size: cover;background-repeat: no-repeat;">
          <div class="uk-overlay-primary uk-light uk-width-1-1">
            <div class="uk-section uk-secton-large">
              <div class="uk-container uk-container-expand uk-text-left">
                <div class="uk-width-1-2@m">
                  <h4 class="uk-margin-small-bottom uk-h5">Slide Two</h4>
                  <h2 class="uk-margin-small-top uk-h1">Example Slider</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                  <a href="#" class="uk-button uk-button-primary">Get started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

    </div>
    <div class="swiper-pagination"></div>
  </div>
{% endblock %}

{% block contentbefore %}
  <div class="home-cats-section uk-section uk-section-small uk-padding-small uk-section-muted">
    <div class="">
      <div id="slideshow_info" class="swiper-container">
        <div class="swiper-wrapper">
          {% for item in shopcats %}
          
            {% set thumbnail_id = function ('get_term_meta', item.term_id, 'thumbnail_id', true ) %}
            {% set cat_thumb = function ('wp_get_attachment_url', thumbnail_id) %}
            
            {% if cat_thumb %}
              {% set cat_thumb_url = cat_thumb|resize(650, 360) %}
            {% else %}
              {% set cat_thumb_url = 'https://via.placeholder.com/100x100' %}
            {% endif %}
          
            <div class="swiper-slide">
              <div class="uk-tile uk-tile-default uk-tile-small uk-text-center uk-text-bold uk-text-uppercase">One</div>
            </div>
            
          {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  
  <div class="uk-section uk-section-default uk-container">
    <div class="uk-text-center uk-container uk-container-small uk-margin-bottom">
      <p class="uk-text-meta uk-text-uppercase uk-margin-small-bottom">{{site.title}}</p>
      <h2 class="uk-margin-remove">Recently Added Parts</h2>
      <p class="uk-text-meta uk-margin-small-top">{{site.description}}</p>
      <hr class="uk-divider-small">
    </div>
    <div id="ProductsGrid" class="uk-child-width-1-2 uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
      {% for post in recent_products %}
       {% include 'tease-product.twig' %}
      {% endfor %}
    </div>
    <a href="" class="uk-button uk-button-primary uk-align-center uk-margin-remove" hidden>View All Parts</a>
  </div>
{% endblock %}

{% block abovefooter %}
  {% include 'above-footer-page.twig' %} 
{% endblock %}

{% block spec_scripts %}
  <!-- load in swiper-js js -->
  <script src="{{theme.link}}/assets/js/lib/swiper-bundle.min.js"></script>
  <script src="{{theme.link}}/assets/js/front.js"></script>
{% endblock %}