{% extends "base.twig" %}

{% block content %}
<div class="" data-block="content" data-template="single.twig">
  <div class="breads_area uk-container">
    {% include 'breads.twig' %}
  </div>
  <div class="content-area uk-section uk-section-small uk-section-muted">
    <div class="uk-container">
      <div uk-grid>
        {% if is_left_sidebar %}
          {% include 'sidebar-left.twig' %}
        {% endif %}
        <article id="post-{{post.ID}}" class="uk-article {{ article_width_class }} {{post.class}}">
          <div id="MainTitle">
            <h1 class="uk-text-bold dark-text uk-text-uppercase uk-heading-line"><span>{{ post.title }}</span></h1>
          </div>
          <div id="MainContent" class="uk-card uk-card-default uk-card-body">
            {{ post.content }}
          </div>
        </article>
        {% if is_right_sidebar %}
        {% include 'sidebar.twig' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}