{% extends "base.twig" %}

{% block contentwrap %}

<!-- <div data-block="content-wrap" data-template="single.twig" uk-grid>
  
  {% if is_left_sidebar %}
    {% include 'sidebar-left.twig' %}
  {% endif %}
  
  <article id="post-{{post.ID}}" class="uk-article {{ article_width_class }} {{post.class}}">
    <div id="MainTitle">
      <h1 class="uk-heading-line uk-text-bold dark-text uk-text-uppercase"><span>{{ post.title }}</span></h1>
    </div>
    <div id="MainContent" class="uk-card uk-card-default uk-card-body">
      {{ post.content }}
    </div>
  </article>
    
  {% if is_right_sidebar %}
  {% include 'sidebar.twig' %}
  {% endif %}
    
</div> -->

{% endblock %}