{% if function('get_query_var', 'product_series') and function('is_product_series') == false %}
  {% set url_out = (function('get_term_link', term.term_id) ~ '?product_series=' ~ function('get_query_var', 'product_series')) %}
{% else %}
  {% set url_out = function('get_term_link', term.term_id) %}
{% endif %}

{% if fn('term_exists', term.term_id, 'product_cat') %}

  {% set thumbnail_id = function ('get_term_meta', term.term_id, 'thumbnail_id', true ) %}
  {% set thumb_src = function ('wp_get_attachment_url', thumbnail_id) %}
  {% set thumb_alt = function ('get_post_meta', thumbnail_id, '_wp_attachment_image_alt', true) %}

{% elseif fn('term_exists', term.term_id, 'product_series') %}

  {% set thumbnail_id = function ('get_term_meta', term.term_id, 'series_thumbnail', true ) %}
  {% set thumb_src = function ('wp_get_attachment_url', thumbnail_id) %}
  {% set thumb_alt = function ('get_post_meta', thumbnail_id, '_wp_attachment_image_alt', true) %}

{% endif %}

<div id="{{term.term_id|e('html_attr')}}">
  <div class="uk-card uk-card-hover uk-card-small uk-text-center uk-position-relative">
    <div class="uk-card-media-top">
      {% if fn('term_exists', term.term_id, 'product_cat') %}
        <img data-src="{{ thumb_src|resize(86, 86)|default(default_category_image.url|e('esc_url')|default(theme.link|e('esc_url') ~ '/assets/images/stock-cat.jpg')) }}" width="86" height="86" alt="{{thumb_alt}}" uk-img>
      {% elseif fn('term_exists', term.term_id, 'product_series') %}
        <img data-src="{{ thumb_src|resize(215, 150)|default(default_series_image.url|e('esc_url')|default(theme.link|e('esc_url') ~ '/assets/images/stock-series.png')) }}" width="215" height="150" alt="{{thumb_alt}}" uk-img>
      {% endif %}
      <a class="stretch-me" data-link="{{url_out|e('esc_url')}}"></a>
    </div>
    <div class="uk-card-body">
      <div class="uk-text-emphasis uk-margin-small-top uk-margin-remove">
        <a class="dont-underline uk-link-text">{{ term.name|e('esc_html') }}</a>
      </div>
    </div>
  </div>
</div> 