<div id="SiteFooter" class="uk-light">
  <!--FOOTER-->
  <footer id="FooterArea" data-template="footer.twig">
    <div id="FooterTop" class="footer_top uk-section uk-section-small uk-section-primary theme-darker-bg standard-text fat-border-top">
      <div class="uk-container uk-container-large">
        <div class="uk-grid-large" uk-grid>
          <div class="uk-width-1-3@m uk-width-1-4@l">
            <a id="FooterLogo" class="footer_logo uk-logo" href="/">
              <img data-src="https://6starcompetitions.ie/wp-content/uploads/2020/02/sixstar-logo-red.png" uk-img="" src="https://6starcompetitions.ie/wp-content/uploads/2020/02/sixstar-logo-red.png">
            </a>
          </div>
          <div id="FooterTopRight" class="footer_top_right uk-width-2-3@m uk-width-3-4@l">
            <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-small" uk-grid>
              <div>
                {% if sidebar_footer_1 %}
                {{ sidebar_footer_1 }}
                {% else %}
                <h3 class="uk-text-bold uk-text-muted widget-title">Footer 1</h3>
                <p>Add some widgets to the Footer Widget Area 2</p>
                {% endif %}
              </div>
              <div>
                {% if sidebar_footer_2 %}
                {{ sidebar_footer_2 }}
                {% else %}
                <h3 class="uk-text-bold uk-text-muted widget-title">Footer 2</h3>
                <p>Add some widgets to the Footer Widget Area 2</p>
                {% endif %}
              </div>
              <div>
                {% if sidebar_footer_3 %}
                {{ sidebar_footer_3 }}
                {% else %}
                <h3 class="uk-text-bold uk-text-muted widget-title">Footer 3</h3>
                <p>Add some widgets to the Footer Widget Area 3</p>
                {% endif %}
              </div>
              <div>
                {% if sidebar_footer_4 %}
                {{ sidebar_footer_4 }}
                {% else %}
                <h3 class="uk-text-bold uk-text-muted widget-title">Footer 4</h3>
                <p>Add some widgets to the Footer Widget Area 4</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="FooterBottom" class="footer_bottom">
      <div id="FooterBottomWrap" class="footer_bottom_wrap navbar-height-45 theme-dark-bg muted-text-dark-bg standard-text">
        <div class="uk-container uk-container-small">
          <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
            <div>
              
              <div class="uk-text-center">© 2020 6star Competitions. All Rights Reserved | Registered Business Number: 659421 Ireland</div>
              
              <ul id="FooterBottomSocials" class="uk-grid uk-flex uk-flex-center uk-grid-small uk-margin-top" uk-grid="">
                <li><img data-src="/wp-content/themes/sixstar-theme/assets/img/payment/visa.png" height="30" width="48" alt="" uk-img></li>
                <li><img data-src="/wp-content/themes/sixstar-theme/assets/img/payment/mastercard.png" height="30" width="48" alt="" uk-img></li>
                <li><img data-src="/wp-content/themes/sixstar-theme/assets/img/payment/stripe.png" height="30" width="137" alt="" uk-img></li>
              </ul>
              
              <div class="uk-text-center">
                {% if sidebar_footer_bottom_bottom %}
                {{ sidebar_footer_bottom_bottom }}
                {% else %}
                <p>Add some widgets to the Footer Bottom Left Widget Area</p>
                {% endif %}  
              </div>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>