<div id="modal-offcanvas-nav" class="uk-modal-full uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle theme-dark-bg uk-light" uk-height-viewport>
    <button class="uk-modal-close-full uk-icon uk-close theme-darker-bg" type="button" uk-close></button>
    <ul class="uk-nav uk-nav-default uk-nav-parent-icon uk-position-z-index uk-position-relative uk-text-center uk-text-large" uk-nav="multiple: true">
      {% for item in menu_mobile.get_items %}
        {% if item.get_children %}
          <li class="uk-parent {{ item.classes | join(' ') }}">
            <a href="{{ item.get_link }}">{{ item.title }}</a>
            <ul class="uk-nav-sub">
              {% for child in item.get_children %}
                <li>
                  <a href="{{ child.get_link }}">{{ child.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="{{ item.classes | join(' ') }}">
            <a href="{{ item.get_link }}">{{ item.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div id="modal-search" class="uk-modal-full uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle theme-dark-bg uk-light" uk-height-viewport>
    <button class="uk-modal-close-full uk-icon uk-close theme-darker-bg" type="button" uk-close></button>
    <form class="uk-search uk-search-large" role="search" method="get" action="{{site.url}}">
        <input class="uk-search-input uk-text-center" type="search" placeholder="Start typing..." id="Search" name="s" autocomplete="off" autofocus>
    </form>
  </div>
</div>