{% extends "base.twig" %}

{% block contentwrap %}
  <div data-block="content-wrap" data-template="archive-live_draws.twig">
    
    <div class="blog-wrap">
      
      <div uk-grid>
        
        <div class="uk-width-auto@s">
          <h1 class="uk-text-bold dark-text">{{ title }}</h1>
        </div>

        <div class="page_nav uk-width-expand@s uk-inline">
          <div class="uk-position-center-right uk-visible@s">
            <ul class="uk-subnav uk-margin-remove-bottom">
              
              {% for item in draws_statuses %}
              {% if status.term_id == item.term_id %}
                {% set active_class = 'uk-active' %}
              {% else %}
                {% set active_class = 'not-active' %}
              {% endif %}
              <li id="{{ item.term_id }}" class="{{active_class}}"><a href="{{ function('get_term_link', item.slug, 'status') }}" class="uk-text-uppercase font-600">{{ item.name }}</a></li>
              {% endfor %}
              {% if is_status %}
              <li id="" class=""><a href="{{ draws_page_url }}" class="uk-text-uppercase font-600">All</a></li>
              {% endif %}
              
            </ul>
          </div>
          <div class="uk-hidden@s">
            <ul class="uk-subnav uk-margin-remove-bottom">
              {% for item in draws_statuses %}
              {% if status.term_id == item.term_id %}
                {% set active_class = 'uk-active' %}
              {% else %}
                {% set active_class = 'not-active' %}
              {% endif %}
              <li id="{{ item.term_id }}" class="{{active_class}}"><a href="{{ function('get_term_link', item.slug, 'status') }}" class="uk-text-uppercase font-600">{{ item.name }}</a></li>
              {% endfor %}
              {% if is_status %}
              <li id="" class=""><a href="{{ draws_page_url }}" class="uk-text-uppercase font-600">All</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        
      </div>
      
      <div class="uk-child-width-1-2@s uk-child-width-1-3@m archive-posts margin-top-30" uk-grid="masonry: true">
        {% for post in posts %}
          {% include ['tease-live_draws.twig'] %}
        {% endfor %}
        {% if posts is empty %}
        <p class="uk-text-emphasis">Nothing posted here yet....</p>
        {% endif %}
      </div>
      
      {% if is_paginated %}
        {% include 'pagination.twig' %}
      {% endif %}
      
    </div>
      
  </div>
{% endblock %}

{% block spec_scripts %}
  {% if is_paginated %}
    <script type="text/javascript" src="/wp-content/themes/sixstar-theme/assets/js/main/scroll.js"></script>
  {% endif %}
{% endblock %}