{% extends "base.twig" %}

{% block content %}

<div class="uk-section uk-section-small" data-template="page-contact.twig">
  <div class="uk-container">
    <div id="ShopBreadsNotices" class="uk-margin-bottom">
      {{ function('yoast_breadcrumb', '<div id="breadcrumbs">','</div>') }}
    </div>
    <div class="uk-grid-large" uk-grid>
    
      <article id="post-{{post.ID}}" class="uk-article uk-width-1-1 {{post.class}}">
        
        <h1 class="uk-article-title">Contact us</h1>

        <section class="">
          <ul uk-tab uk-switcher>
              <li class="uk-active"><a href="#">General Enquiries</a></li>
              <li><a href="#">VIP Competitions</a></li>
              <li><a href="#">Current Customers</a></li>
          </ul>
          <ul class="uk-switcher uk-margin">
              <li>
                <div class="uk-tile uk-tile-muted uk-padding-small">
                  {{ function('do_shortcode', '[contact-form-7 id="221" title="General Enquiries"]') }}
                </div>
              </li>
              <li>
                <div class="uk-tile uk-tile-muted uk-padding-small">
                  {{ function('do_shortcode', '[contact-form-7 id="222" title="VIP Competitions"]') }}
                </div>
              </li>
              <li>
                <div class="uk-tile uk-tile-muted uk-padding-small">
                  {{ function('do_shortcode', '[contact-form-7 id="223" title="Current Customers"]') }}
                </div>
              </li>
          </ul>
        </section>

      </article>

    </div>
  </div>
</div>

{% endblock %}