<div id="SiteFooter" class="uk-light">
  
  
  
  <!--FOOTER-->
  <footer id="FooterArea" data-template="footer.twig">
    

    
    <div id="FooterTop" class="footer_top footer_top_right uk-section uk-section-small uk-section-primary theme-darker-bg standard-text fat-border-top">
      <div class="uk-container">
        
        <!-- <ul id="BottomSocials" class="uk-grid uk-grid-small uk-flex uk-flex-center" uk-grid="">
          <li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
          <li uk-tooltip="title: Find us on Snapchat: 6starCompetitions; pos: right"><a><i class="fab fa-snapchat-ghost fa-lg"></i></a></li>
        </ul> -->
        
        {% if sidebar_footer %}
        {{ sidebar_footer }}
        {% else %}
        <h3 class="uk-text-bold uk-text-muted widget-title">Footer 1</h3>
        <p>Add some widgets to the Footer Widget Area 2</p>
        {% endif %}
        
        <div class="" uk-grid>
          
          <div class="uk-width-1-4@m">
            {% if sidebar_footer_1 %}
            {{ sidebar_footer_1 }}
            {% else %}
            <h3 class="uk-text-bold uk-text-muted widget-title">Footer 1</h3>
            <p>Add some widgets to the Footer Widget Area 2</p>
            {% endif %}
          </div>
          
          <div class="uk-width-1-4@m">
            {% if sidebar_footer_2 %}
            {{ sidebar_footer_2 }}
            {% else %}
            <h3 class="uk-text-bold uk-text-muted widget-title">Footer 2</h3>
            <p>Add some widgets to the Footer Widget Area 2</p>
            {% endif %}
          </div>
          
          <div class="uk-width-1-4@m">
            {% if sidebar_footer_3 %}
            {{ sidebar_footer_3 }}
            {% else %}
            <h3 class="uk-text-bold uk-text-muted widget-title">Footer 3</h3>
            <p>Add some widgets to the Footer Widget Area 3</p>
            {% endif %}
          </div>
          
          <div class="uk-width-1-4@m">
            {% if sidebar_footer_4 %}
            {{ sidebar_footer_4 }}
            {% else %}
            <h3 class="uk-text-bold uk-text-muted widget-title">Footer 4</h3>
            <p>Add some widgets to the Footer Widget Area 4</p>
            {% endif %}
          </div>
          
        </div>
        

        
      </div>
    </div>

    
    <div id="FooterBottom" class="footer_bottom">
      <div id="FooterBottomWrap" class="footer_bottom_wrap uk-section uk-section-xsmall navbar-height-45 theme-dark-bg muted-text-dark-bg standard-text">
        <div class="uk-container">
          
          
          <div class="uk-grid uk-child-width-1-2@s uk-text-center uk-text-left@s" data-uk-grid="">
            <div class=" uk-first-column">
              {% if sidebar_footer_bottom_top %}
              {{ sidebar_footer_bottom_top }}
              {% else %}
              <p>Add some widgets to the Footer Bottom Left Widget Area</p>
              {% endif %} 
            </div>
            <div class="uk-text-center uk-text-right@s">
              {% if sidebar_footer_bottom_bottom %}
              {{ sidebar_footer_bottom_bottom }}
              {% else %}
              <p>Add some widgets to the Footer Bottom Left Widget Area</p>
              {% endif %} 
            </div>
          </div>
          
          
          
        </div>
      </div>
    </div>
  </footer>
  
  
  
</div>



