<aside id="ProductFilters" uk-grid>
  
  <div class="uk-width-1-3@m">
    <h3 class="uk-h4">Categories:</h3>
    <ul class="uk-nav uk-nav-default uk-height-medium uk-overflow-auto uk-margin-small-bottom cat-list">

      {% for cat in function('product_cats_for_filters') %}
      
        {% if function ('product_cat_has_children', cat.term_id) %}
        
          <li class="uk-parent">
            
            <a 
            data-link="{{ function ('add_query_arg_product_cats_for_filters', cat.slug) }}" 
            onclick="quickLoad(event);"  
            class="{% if function('get_query_var', 'product_cat') == cat.slug %}active{% endif %}" 
            data-type="product_cat" 
            data-name="{{ cat.name }}" 
            >
              
              <input 
              class="uk-radio" 
              type="radio" 
              {% if function('get_query_var', 'product_cat') == cat.slug %}checked{% endif %}
              >
              
              {{ cat.name }}
              
              <ul class="uk-nav-sub">
                
                {% for sub_cat in function ('sub_cats_for_filters', cat.term_id) %}
                  <li>
                    <a 
                    data-link="{{ function ('add_query_arg_product_cats_for_filters', sub_cat.slug) }}" 
                    onclick="quickLoad(event);" 
                    class="{% if function('get_query_var', 'product_cat') == sub_cat.slug %}active{% endif %}" 
                    data-name="{{ sub_cat.name }}" 
                    data-type="product_cat" 
                    >
                      <input 
                      class="uk-radio" 
                      type="radio" 
                      {% if function('get_query_var', 'product_cat') == sub_cat.slug %}checked{% endif %}
                      > {{ sub_cat.name }}
                    </a>
                  </li>
                {% endfor %}
                
              </ul>
              
            </a>
            
          </li>
          
        {% else %}
        
          <li>
            <a 
            data-link="{{ function ('add_query_arg_product_cats_for_filters', cat.slug) }}" 
            onclick="quickLoad(event);" 
            class="{% if function('get_query_var', 'product_cat') == cat.slug %}active{% endif %}" 
            data-type="product_cat" 
            data-name="{{ cat.name }}" 
            >
              <input 
              class="uk-radio" 
              type="radio" 
              {% if function('get_query_var', 'product_cat') == cat.slug %}checked{% endif %}
              > {{ cat.name }}
            </a>
          </li>
          
        {% endif %}
        
      {% endfor %}
      
      {% if function('product_cats_for_filters') is empty %}
        <li>Add some products to some categories</li>
      {% endif %}
      
    </ul>
    <a class="uk-link-text uk-text-primary uk-text-small filters-reset-link" data-link="{{ function ('remove_query_arg', 'product_cat')|e('esc_url') }}" onclick="quickLoad(event);">Reset</a>
  </div>
  
  <div class="uk-width-1-3@m">
    <h3 class="uk-h4">Series/Model:</h3>
    <ul class="uk-nav uk-nav-default uk-height-medium uk-overflow-auto uk-margin-small-bottom series-list">
      {% for cat in function('product_series_for_filters') %}
      
        {% if function ('product_series_has_children', cat.term_id) %}
        
          <li class="uk-parent">
            
            <a 
            data-link="{{ function ('add_query_arg_product_series_for_filters', cat.slug) }}" 
            onclick="quickLoad(event);"  
            class="{% if function('get_query_var', 'product_series') == cat.slug %}active{% endif %}" 
            data-type="product_series" 
            data-name="{{ cat.name }}" 
            >
              
              <input 
              class="uk-radio" 
              type="radio" 
              {% if function('get_query_var', 'product_series') == cat.slug %}checked{% endif %}
              >
              
              {{ cat.name }}
              
              <ul class="uk-nav-sub">
                
                {% for sub_cat in function ('sub_series_for_filters', cat.term_id) %}
                  <li>
                    <a 
                    data-link="{{ function ('add_query_arg_product_series_for_filters', sub_cat.slug) }}" 
                    onclick="quickLoad(event);" 
                    class="{% if function('get_query_var', 'product_series') == sub_cat.slug %}active{% endif %}" 
                    data-name="{{ sub_cat.name }}" 
                    data-type="product_series" 
                    >
                      <input 
                      class="uk-radio" 
                      type="radio" 
                      {% if function('get_query_var', 'product_series') == sub_cat.slug %}checked{% endif %}
                      > {{ sub_cat.name }}
                    </a>
                  </li>
                {% endfor %}
                
              </ul>
              
            </a>
            
          </li>
          
        {% else %}
        
          <li>
            <a 
            data-link="{{ function ('add_query_arg_product_series_for_filters', cat.slug) }}" 
            onclick="quickLoad(event);" 
            class="{% if function('get_query_var', 'product_series') == cat.slug %}active{% endif %}" 
            data-type="product_series" 
            data-name="{{ cat.name }}" 
            >
              <input 
              class="uk-radio" 
              type="radio" 
              {% if function('get_query_var', 'product_series') == cat.slug %}checked{% endif %}
              > {{ cat.name }}
            </a>
          </li>
          
        {% endif %}
        
      {% endfor %}
      
      {% if function('product_series_for_filters') is empty %}
        <li>Add some products to some series/models</li>
      {% endif %}
    
    </ul>
  </div>
  
  <div class="uk-width-1-3@m">
    <h3 class="uk-h4">Sorting:</h3>
    {% do action('woocommerce_before_shop_loop') %}
  </div>

</aside>