<div id="HeaderMobile">
  <div id="mobile-offcanvas-nav" class="mobile-slide-navbar" uk-offcanvas="overlay: true;">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
      
      <div class="top-search-bar-mobile">
        <form id="form_validate_search_mobile" class="form_search_main uk-width-1-1 uk-inline" role="search" method="get" action="{{site.url|e('esc_url')}}" accept-charset="utf-8" novalidate="novalidate">
          <div class="uk-search uk-search-default uk-width-1-1">
            <a href="#" title="Submit search" class="uk-search-icon-flip uk-icon uk-search-icon">
              <i class="fas fa-search fa-lg"></i>
            </a>
            <input class="form-control uk-search-input uk-input" type="text" name="search" maxlength="300" pattern=".*\S+.*" id="input_search_mobile" value="" placeholder="Start typing to search..." required="" autocomplete="off"
              aria-invalid="true">
            <input type="hidden" name="post_type" value="product" />
          </div>
          <div id="response_search_results_mobile" class="search-results-ajax uk-height-max-medium uk-overflow-auto "></div>
        </form>
      </div>
      
      <ul class="uk-subnav uk-subnav-pill uk-text-center" uk-switcher>
        <li><a href="#">MENU</a></li>
        <li><a href="#">CATEGORIES</a></li>
      </ul>
      
      <ul class="uk-switcher">
        <li>
          <ul class="uk-nav-default uk-nav-parent-icon uk-position-relative" uk-nav>
            {% if has_menu_mobile %}
              {% for item in menu_mobile.get_items %}
                {% if item.get_children %}
                  <li class="theme-border-bottom {{ item.classes | join(' ')|e('html_attr') }} uk-parent">
                    <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                    <ul class="uk-nav-sub">
                      {% for child in item.get_children %}
                        <li class="theme-border-top">
                          <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html') }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="theme-border-bottom {{ item.classes | join(' ')|e('html_attr') }}"><a title="{{ item.title|e('html_attr') }}" href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        </li>
        <li>
          {% if menu_cats %}
            <ul class="uk-nav-default uk-nav-parent-icon uk-position-relative" uk-nav>
              {% for item in menu_cats.get_items %}
                {% if item.get_children %}
                  <li class="theme-border-bottom {{ item.classes | join(' ')|e('html_attr') }} uk-parent">
                    <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                    <ul class="uk-nav-sub">
                      {% for child in item.get_children %}
                        <li class="theme-border-top">
                          <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html') }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="theme-border-bottom {{ item.classes | join(' ')|e('html_attr') }}"><a title="{{ item.title|e('html_attr') }}" href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% else %}
            <p class="uk-margin-remove uk-light">Add a menu to the Main Menu slot in Appearance > Menus</p>
          {% endif %}
        </li>
      </ul>
      
    </div>
  </div>
</div>