<div id="HeaderBottom" class="uk-visible@xl">
  <div id="BottomNav" class="">
    <nav id="BottomNavWrap" class="theme-dark-bg fat-border-bottom">
      <div class="uk-container uk-container-expand">
        <div class="uk-navbar" uk-navbar>
          <div id="BottomNavLogo" class="bottom_nav_logo uk-navbar-left uk-light">
            <a class="uk-navbar-item uk-logo uk-text-bold uk-text-emphasis" href="/"><img data-src="/wp-content/uploads/2020/02/sixstar-logo-red.png" uk-img=""
                src="/wp-content/uploads/2020/02/sixstar-logo-red.png"></a>
          </div>
          <div id="BottomNavCenter" class="bottom_nav_center bottom_nav_desktop uk-navbar-center uk-light">
            <ul class="uk-navbar-nav">
              {% if has_menu_main %}
              {% for item in menu_main.get_items %}
              {% if item.get_children %}
              <li class="{{ item.classes | join(' ') }}"><a href="{{ item.link }}">{{ item.title }}<span data-uk-icon="icon: triangle-down"></span></a>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    {% for child in item.get_children %}
                    <li><a href="{{ child.get_link }}">{{ child.title }}</a>
                      {% if child.children %}
                      <ul class="uk-nav-sub">
                        {% for third in child.children %}
                        <li>
                          <a href="{{ third.get_link }}">{{ third.title }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
              {% else %}
              <li class="{{ item.classes | join(' ') }} uk-inline"><a href="{{ item.get_link }}">{{ item.title }}</a></li>
              {% endif %}
              {% endfor %}
              {% else %}
              <li>Add a menu to the Main Menu slot in Appearance > Menus.</li>
              {% endif %}
            </ul>
          </div>
          <div id="BottomNavRight" class="bottom_nav_right uk-navbar-right pull-right-40 pull-down-6 fat-border-top search-overlay navbar-height-full uk-background-default">
            <div id="SearchNav" class="search_nav uk-navbar-item">
              <a href="#" class="nav-right-item" uk-toggle="target: .search-overlay; animation: uk-animation-fade"><i class="fas fa-search fa-2x"></i></a>
            </div>
            <div id="CartNav" class="cart_nav uk-navbar-item boundary-cart">
              <div class="uk-inline">
                <a href="{{cart_url}}" class="cart-icon nav-right-item" aria-expanded="false"><i class="fas fa-shopping-cart fa-2x"></i></a>
                {% do action('cart_ajax_result_count') %}
                {% do action('cart_ajax_subtotal') %}
              </div>
            </div>
            <div id="CartNavDropdown" class="uk-padding-remove" uk-dropdown="pos: bottom-right; boundary: .boundary-cart; boundary-align: true">
              <div class="widget_shopping_cart_content">{{ function('woocommerce_mini_cart') }}</div>
            </div>
            <!-- <div id="BottomNavRightDivider" class="bottom_nav_right_divider uk-navbar-item">
              <hr class="uk-divider-vertical height-50 uk-margin-remove">
            </div> -->
            <div id="AccountNav" class="account_nav uk-navbar-item boundary-account">
              <a href="{{dashboard_endpoint}}" class="nav-right-item" aria-expanded="false"><i class="fas fa-user fa-2x"></i></a>
            </div>
            <div id="AccountNavDropdown" uk-dropdown="pos: bottom-right; boundary: .boundary-account; boundary-align: true">
              {% if not user %}
              <ul id="LoginDropdown" class="login_dropdown uk-nav uk-dropdown-nav">
                <li><a href="{{dashboard_endpoint}}" class="uk-text-uppercase grey-text font-600">Login/Register</a></li>
              </ul>
              {% else %}
              <ul id="AccountDropdown" class="uk-nav uk-dropdown-nav">
                <li class="uk-nav-header uk-text-small uk-text-bold">YOUR ACCOUNT</li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{dashboard_endpoint}}"><i class="far fa-user"></i> Dashboard</a></li>
                <li><a href="{{address_endpoint}}"><i class="fas fa-map-pin"></i> Change Address</a></li>
                <li><a href="{{edit_endpoint}}"><i class="fas fa-key"></i> Change Password</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{orders_endpoint}}"><i class="fas fa-list-ul"></i> Your Orders</a></li>
                <li><a href="/contact"><i class="far fa-envelope"></i> Contact us</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{logout_endpoint}}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
              </ul>
              {% endif %}
            </div>
          </div>
          <div id="BottomNavSearchbar" class="bottom_nav_searchbar uk-navbar-right search-overlay" hidden>
            <div class="uk-navbar-item">
              <form class="uk-search uk-search-navbar" role="search" method="get" action="{{site.url}}">
                <input class="uk-search-input" type="search" placeholder="Start typing..." id="Search" name="s" autocomplete="off" autofocus>
              </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .search-overlay; animation: uk-animation-fade" href="#"></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>