<style>

#offcanvas-nav .uk-nav-header {
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#offcanvas-nav .uk-nav-default {
    font-size: 1rem;
}


#offcanvas-nav .uk-nav>li>a {
    padding: 8px 0;
}
</style>

<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false" class="uk-offcanvas">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <a class="uk-position-top-right uk-padding-small" uk-toggle="#offcanvas-nav"><i class="fas fa-times"></i></a>
    <ul class="uk-nav uk-nav-default uk-nav-parent-icon uk-position-z-index uk-position-relative" uk-nav="multiple: true">
      <li class="uk-nav-header uk-text-bold uk-margin-small-bottom">Menu</li>
      {% for item in menu_mobile.get_items %}
        {% if item.get_children %}
          <li class="uk-parent {{ item.classes | join(' ') }}">
            <a href="{{ item.get_link }}">{{ item.title }}</a>
            <ul class="uk-nav-sub">
              {% for child in item.get_children %}
                <li>
                  <a href="{{ child.get_link }}">{{ child.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="{{ item.classes | join(' ') }}">
            <a href="{{ item.get_link }}">{{ item.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <!-- <li class="uk-nav-divider"></li> -->
    </ul>
    <!-- <h3 class="uk-margin-medium-top">Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
  </div>
</div>