{% extends "base.twig" %}

{% block spec_styles %}

  <!-- load in swiper-js css -->
  <link rel="stylesheet" href="/wp-content/themes/sixstar-theme/assets/css/swiper-bundle.min.css" />
  
  <style>
    /* swiper-js css */

    /* general swiper css */
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    /* banner slider */
    :root {
      --swiper-theme-color: #fc4c026e;
    }
    .swiper-slide .uk-section.uk-secton-large {
      padding: 80px 0;
    }
    @media only screen and (max-device-width:767px) {
      .swiper-slide .uk-section.uk-secton-large {
        padding: 50px 0;
      }
    }
    /* info slider */
    #slideshow_info .uk-h5 {
      font-size: 18px;
    }
    
    .dotted-grey-border-top {
      border-top: 5px dashed #f3f5f9;
    }
    .dotted-grey-border-bottom {
      border-bottom: 5px dashed #f3f5f9;
    }
    
    @media only screen and (max-width:959px) {

    }
    
    .featured-products-section .swiper-container-horizontal>.swiper-pagination-bullets, .featured-products-section .swiper-pagination-custom, .swiper-pagination-fraction, .home-info-section .swiper-container-horizontal>.swiper-pagination-bullets, .home-info-section .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: 0;
      left: 0;
      width: 100%;
      position: relative;
    }
    
    .uk-light .uk-button-primary {
      background-color: #fc4c02;
      color: #fff;
    }
  </style>

{% endblock %}

{% block content %}

{% set how_to_group = options.homepage_how_to_play_blocks %}
{% set featured_comps_group = options.homepage_featured_competitions %}
{% set cta_group = options.homepage_cta_block %}

  <div id="single-{{post.ID}}" class="front-page {{post.class}}" data-template="front-page.twig">

    <div id="slideshow_banner" class="swiper-container">
      <div class="swiper-wrapper">
        
        {% for slide in home_slides %}
          {% if slide.thumbnail %}
            {% set thumb = slide.thumbnail.src|resize(1920, 370) %}
          {% else %}
            {% set thumb = 'https://via.placeholder.com/1920x370.png?text=Add+a+featured+image' %}
          {% endif %}
          
          <div class="swiper-slide" style="background-position: center;background-image: url('{{ thumb }}');background-size: cover;background-repeat: no-repeat;">
            <div class="uk-overlay-primary uk-light uk-width-1-1">
              <div class="uk-section uk-secton-large">
                <div class="uk-container uk-text-left">
                  <div class="uk-width-1-2@m">
                    <h4 class="uk-margin-small-bottom uk-h5">{{slide.home_banner_slide_subtitle}}</h4>
                    <h2 class="uk-margin-small-top uk-h1">{{slide.title}}</h2>
                    <p>{{slide.content}}</p>
                    <a href="{{slide.home_banner_slide_button_link}}" class="uk-button uk-button-primary uk-border-rounded">{{slide.home_banner_slide_button_text}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        
        {% if home_slides is empty %}
          <div class="swiper-slide" style="background-position: center;background-image: url('https://via.placeholder.com/1920x370');background-size: cover;background-repeat: no-repeat;">
            <div class="uk-overlay-primary uk-light uk-width-1-1">
              <div class="uk-section uk-secton-large">
                <div class="uk-container uk-text-left">
                  <div class="uk-width-1-2@m">
                    <h4 class="uk-margin-small-bottom uk-h5">Slide One</h4>
                    <h2 class="uk-margin-small-top uk-h1">Add some Banner Slides</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                    <a href="#" class="uk-button uk-button-primary uk-border-rounded">Get started</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" style="background-position: center;background-image: url('https://via.placeholder.com/1920x370');background-size: cover;background-repeat: no-repeat;">
            <div class="uk-overlay-primary uk-light uk-width-1-1">
              <div class="uk-section uk-secton-large">
                <div class="uk-container uk-text-left">
                  <div class="uk-width-1-2@m">
                    <h4 class="uk-margin-small-bottom uk-h5">Slide Two</h4>
                    <h2 class="uk-margin-small-top uk-h1">Add some Banner Slides</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                    <a href="#" class="uk-button uk-button-primary uk-border-rounded">Get started</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" style="background-position: center;background-image: url('https://via.placeholder.com/1920x370');background-size: cover;background-repeat: no-repeat;">
            <div class="uk-overlay-primary uk-light uk-width-1-1">
              <div class="uk-section uk-secton-large">
                <div class="uk-container uk-text-left">
                  <div class="uk-width-1-2@m">
                    <h4 class="uk-margin-small-bottom uk-h5">Slide Three</h4>
                    <h2 class="uk-margin-small-top uk-h1">Add some Banner Slides</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                    <a href="#" class="uk-button uk-button-primary uk-border-rounded">Get started</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

      </div>
      <div class="swiper-pagination"></div>
    </div>
      
    <div class="home-info-section uk-section uk-section-small uk-padding-small uk-section-muted">
      <div class="uk-container">
        <div id="slideshow_info" class="swiper-container">
          <div class="swiper-wrapper">
            
            {% for slide in info_home_slides %}
              <div class="swiper-slide">
                <a href="{{slide.info_slide_link_url}}" class="uk-link-reset">
                  <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                      {{slide.info_slide_icon_html}}
                    </div>
                    <div class="uk-width-expand">
                      <h4 class="uk-h5 uk-margin-remove-bottom">{{slide.title}}</h4>
                      <p class="uk-margin-remove uk-text-small">{{slide.content}}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
            
            {% if info_home_slides is empty %}
            <div class="swiper-slide">
              <a href="#" class="uk-link-reset">
                <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
                  <div class="uk-width-auto"><i class="fas fa-hand-point-up fa-2x"></i></div>
                  <div class="uk-width-expand">
                    <h4 class="uk-h5 uk-margin-remove-bottom">Add some Info Slides</h4>
                    <p class="uk-margin-remove uk-text-small">Add some Home Info Slides in the Dashboard</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="uk-link-reset">
                <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
                  <div class="uk-width-auto"><i class="fas fa-hand-point-up fa-2x"></i></div>
                  <div class="uk-width-expand">
                    <h4 class="uk-h5 uk-margin-remove-bottom">Add some Info Slides</h4>
                    <p class="uk-margin-remove uk-text-small">Add some Home Info Slides in the Dashboard</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="uk-link-reset">
                <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
                  <div class="uk-width-auto"><i class="fas fa-hand-point-up fa-2x"></i></div>
                  <div class="uk-width-expand">
                    <h4 class="uk-h5 uk-margin-remove-bottom">Add some Info Slides</h4>
                    <p class="uk-margin-remove uk-text-small">Add some Home Info Slides in the Dashboard</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="uk-link-reset">
                <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
                  <div class="uk-width-auto"><i class="fas fa-hand-point-up fa-2x"></i></div>
                  <div class="uk-width-expand">
                    <h4 class="uk-h5 uk-margin-remove-bottom">Add some Info Slides</h4>
                    <p class="uk-margin-remove uk-text-small">Add some Home Info Slides in the Dashboard</p>
                  </div>
                </div>
              </a>
            </div>
            {% endif %}
            
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination uk-hidden@l uk-margin-small-top"></div>
        </div>
      </div>
    </div>
    
    <section class="uk-section uk-section-default uk-section-small dotted-grey-border-top dotted-grey-border-bottom">

      <div class="uk-container">
        
        <h2 class="uk-text-center uk-margin-bottom">How to Play</h2>
        
        <div id="slideshow_howto" class="swiper-container">
          <div class="swiper-wrapper">
          
            {% for how_to_blocks in how_to_group %}
            
              {% for how_to_block in how_to_blocks %}
                
                <div class="swiper-slide">
                  <div class="uk-card uk-card-body uk-background-default uk-text-center">
                    <h3 class="uk-heading-large uk-text-primary">{{how_to_block.how_to_number}}</h3>
                    <h4>{{how_to_block.how_to_title}}</h4>
                    <p>{{how_to_block.how_to_description}}</p>
                  </div>
                </div>
              
              {% endfor %}
            
            {% endfor %}
          
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination uk-hidden@m uk-margin-small-top"></div>
        </div>
        
      </div>

    </section>
    
    <section class="featured-products-section uk-section uk-section-muted uk-section-small">

      <div class="uk-container">
        
        <h2 class="uk-text-center uk-margin-bottom">{{ featured_comps_group.featured_competitions_title }}</h2>
          
        <div id="slideshow_featured" class="swiper-container">
          <div class="swiper-wrapper">
            {% for post in slider_products %}
              <div class="swiper-slide">
                {% include 'tease-product.twig' %}
              </div>
            {% endfor %}
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination uk-margin-small-top"></div>
        </div>
      </div>

    </section>
    
    <section class="uk-section uk-section-default dotted-grey-border-top">
      <div class="uk-container">
        <h2 class="uk-text-center uk-margin-medium-bottom">{{ cta_group.cta_title }}</h2>
        <p class="uk-text-center"><a class="uk-button uk-button-primary uk-button-large" href="{{ cta_group.cta_button_link }}">{{ cta_group.cta_button_text }}</a></p>
      </div>
    </section>
    
  </div>

{% endblock %}

{% block spec_scripts %}

  <!-- load in swiper-js js -->
  <script src="/wp-content/themes/sixstar-theme/assets/js/swiper-bundle.min.js"></script>

  <script>
    jQuery(function(){
      
      // first swiper
      var slider_swiper = new Swiper('#slideshow_banner', {
        centeredSlides: true,
        autoplay: {
          delay: 4000,
          disableOnInteraction: true,
        },
        pagination: {
          el: '.swiper-pagination',
          type: 'progressbar',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
      
      // second swiper
      var info_swiper = new Swiper('#slideshow_info', {
        slidesPerView: 1,
        spaceBetween: 0,
        // autoplay: {
        //   delay: 4000,
        //   disableOnInteraction: true,
        // },
        // init: false,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 30,
          },
          960: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
          1200: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
        }
      });
      
      var featured_swiper = new Swiper('#slideshow_featured', {
        slidesPerView: 1,
        spaceBetween: 0,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          960: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
        }
      });
      
      var featured_swiper = new Swiper('#slideshow_howto', {
        slidesPerView: 1,
        spaceBetween: 0,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          960: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
        }
      });
      
    });
  </script>

{% endblock %}