<div class="shop-fixednav shop-fixednav-label-show">
  <div class="uk-container">
    <div class="uk-child-width-1-4 uk-grid-small" uk-grid>
      <div class="uk-text-center">
        <a class="uk-link-text" href="{{shop_url|e('esc_url')}}">
          <i class="fas fa-tractor fa-lg"></i>
          <div class="uk-text-small">{{ __('Parts', 'vigilant-octo-telegram') }}</div>
        </a>
      </div>
      <div class="uk-text-center">
        <a class="uk-link-text" href="/contact">
          <i class="far fa-envelope fa-lg"></i>
          <div class="uk-text-small">{{ __('Contact', 'vigilant-octo-telegram') }}</div>
        </a>
      </div>
      <div class="uk-text-center">
        <a class="uk-link-text" href="{{dashboard_endpoint|e('esc_url')}}">
            <i class="far fa-user fa-lg"></i>
          {% if not user %}
            <div class="uk-text-small">{{ __('Login/Signup', 'vigilant-octo-telegram') }}</div>
          {% else %}
            <div class="uk-text-small">{{ __('Account', 'vigilant-octo-telegram') }}</div>
          {% endif %}
        </a>
      </div>
      <div class="uk-text-center">
        <a class="uk-link-text" href="/basket">
          <i class="fas fa-shopping-cart fa-lg"></i>
          <span class="">
            {% do action('cart_ajax_result_count') %}
          </span>
          <div class="uk-text-small">{{ __('Basket', 'vigilant-octo-telegram') }}</div>
        </a>
      </div>
    </div>
  </div>
</div>