{% extends "base.twig" %}

{% block content %}
  <div class="" data-block="content" data-template="single.twig">
    <div class="content-area uk-section uk-section-muted">
      <div class="uk-container uk-container-small">
        <div uk-grid>
          <article id="post-{{post.ID}}" class="uk-article uk-width-1-1 {{post.class}}">
            
            {% if post.thumbnail %}
            <div class="uk-margin-bottom">
              <div class="uk-inline">
                <img src="{{ post.thumbnail.src('rmcc-woo-theme-featured-image-single-post') }}" alt="">
                <div class="uk-overlay-primary uk-position-cover">
                  <div class="uk-text-center uk-position-center">
                    <h1 class="uk-text-bold">{{ post.title }}</h1>
                    <p class="uk-article-meta">
                      Written on {{post.date | date}}.
                      Posted in 
                      {% for category in post.categories %}
                        {% if not loop.last %}
                          <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>,
                        {% endif %}
                        {% if loop.last %}
                          <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>
                        {% endif %}
                      {% endfor %}
                  </div>
                  </p>
                </div>
              </div>
            </div>

            {% else %}
            
            <div id="MainTitle" class="uk-margin-bottom">
              <h1 class="uk-text-bold dark-text uk-text-center"><span>{{ post.title }}</span></h1>
            </div>
            
            {% endif %}
            
            <div id="MainContent" class="uk-card uk-card-body uk-background-default uk-margin-bottom">
              {{ post.content }}
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
{% endblock %}