<aside id="ProductFilters">
  
  <div>
    <h3 class="uk-h5">Filter by Category</h3>
    <div class="uk-panel uk-panel-scrollable uk-margin-small-bottom cat-list-panel">
      <ul class="uk-nav uk-nav-default uk-margin-small-bottom cat-list">

        {% for cat in function('product_cats_for_filters') %}
        
          {% if function ('product_cat_has_children', cat.term_id) %}
          
            <li id="{{ cat.slug }}" class="uk-parent">
              
              <a 
              data-link="{{ function ('add_query_arg_product_cats_for_filters', cat.slug)|e('esc_url') }}" 
              onclick="quickLoad(event);"  
              class="{% if function('get_query_var', 'product_cat') == cat.slug %}active{% endif %}" 
              data-type="product_cat" 
              data-name="{{ cat.name }}" 
              >
                
                <input 
                class="uk-radio" 
                type="radio" 
                {% if function('get_query_var', 'product_cat') == cat.slug %}checked{% endif %}
                >
                
                {{ cat.name }}
                
                <ul class="uk-nav-sub">
                  
                  {% for sub_cat in function ('sub_cats_for_filters', cat.term_id) %}
                    <li id="{{ sub_cat.slug }}">
                      <a 
                      data-link="{{ function ('add_query_arg_product_cats_for_filters', sub_cat.slug)|e('esc_url') }}" 
                      onclick="quickLoad(event);" 
                      class="{% if function('get_query_var', 'product_cat') == sub_cat.slug %}active{% endif %}" 
                      data-name="{{ sub_cat.name }}" 
                      data-type="product_cat" 
                      >
                        <input 
                        class="uk-radio" 
                        type="radio" 
                        {% if function('get_query_var', 'product_cat') == sub_cat.slug %}checked{% endif %}
                        > {{ sub_cat.name }}
                      </a>
                    </li>
                  {% endfor %}
                  
                </ul>
                
              </a>
              
            </li>
            
          {% else %}
          
            <li id="{{ cat.slug }}" >
              <a 
              data-link="{{ function ('add_query_arg_product_cats_for_filters', cat.slug)|e('esc_url') }}" 
              onclick="quickLoad(event);" 
              class="{% if function('get_query_var', 'product_cat') == cat.slug %}active{% endif %}" 
              data-type="product_cat" 
              data-name="{{ cat.name }}" 
              >
                <input 
                class="uk-radio" 
                type="radio" 
                {% if function('get_query_var', 'product_cat') == cat.slug %}checked{% endif %}
                > {{ cat.name }}
              </a>
            </li>
            
          {% endif %}
          
        {% endfor %}
        
        {% if function('product_cats_for_filters') is empty %}
          <li>Add some products to some categories</li>
        {% endif %}
        
      </ul>
    </div>
    <a class="uk-link-text uk-text-primary uk-text-small filters-reset-link" data-link="{{ function ('remove_query_arg_product_cats_for_filters')|e('esc_url') }}" onclick="quickLoad(event);">Reset</a>
  </div>
  
  <hr>
  
  <div>
    <h3 class="uk-h5">Filter by Series</h3>
    <div class="uk-panel uk-panel-scrollable uk-margin-small-bottom series-list-panel">
      <ul class="uk-nav uk-nav-default uk-margin-small-bottom series-list">
        {% for cat in function('product_series_for_filters') %}
        
          {% if function ('product_series_has_children', cat.term_id) %}
          
            <li id="{{cat.slug}}" class="uk-parent">
              
              <a 
              data-link="{{ function ('add_query_arg_product_series_for_filters', cat.slug)|e('esc_url') }}" 
              onclick="quickLoad(event);"  
              class="{% if function('get_query_var', 'product_series') == cat.slug %}active{% endif %}" 
              data-type="product_series" 
              data-name="{{ cat.name }}" 
              >
                
                <input 
                class="uk-radio" 
                type="radio" 
                {% if function('get_query_var', 'product_series') == cat.slug %}checked{% endif %}
                >
                
                {{ cat.name }}
                
                <ul class="uk-nav-sub">
                  
                  {% for sub_cat in function ('sub_series_for_filters', cat.term_id) %}
                    <li id="{{sub_cat.slug}}">
                      <a 
                      data-link="{{ function ('add_query_arg_product_series_for_filters', sub_cat.slug)|e('esc_url') }}" 
                      onclick="quickLoad(event);" 
                      class="{% if function('get_query_var', 'product_series') == sub_cat.slug %}active{% endif %}" 
                      data-name="{{ sub_cat.name }}" 
                      data-type="product_series" 
                      >
                        <input 
                        class="uk-radio" 
                        type="radio" 
                        {% if function('get_query_var', 'product_series') == sub_cat.slug %}checked{% endif %}
                        > {{ sub_cat.name }}
                      </a>
                    </li>
                  {% endfor %}
                  
                </ul>
                
              </a>
              
            </li>
            
          {% else %}
          
            <li id="{{cat.slug}}">
              <a 
              data-link="{{ function ('add_query_arg_product_series_for_filters', cat.slug)|e('esc_url') }}" 
              onclick="quickLoad(event);" 
              class="{% if function('get_query_var', 'product_series') == cat.slug %}active{% endif %}" 
              data-type="product_series" 
              data-name="{{ cat.name }}" 
              >
                <input 
                class="uk-radio" 
                type="radio" 
                {% if function('get_query_var', 'product_series') == cat.slug %}checked{% endif %}
                > {{ cat.name }}
              </a>
            </li>
            
          {% endif %}
          
        {% endfor %}
        
        {% if function('product_series_for_filters') is empty %}
          <li>Add some products to some series/models</li>
        {% endif %}
    </div>
    <a class="uk-link-text uk-text-primary uk-text-small filters-reset-link" data-link="{{ function ('remove_query_arg_product_series_for_filters')|e('esc_url') }}" onclick="quickLoad(event);">Reset</a>
    </ul>
  </div>
  
  <hr>
  
  <div>
    <h3 class="uk-h5">Sorting:</h3>
    <div class="uk-panel uk-panel-scrollable uk-margin-small-bottom">
      {% do action('woocommerce_before_shop_loop') %}
    </div>
  </div>

</aside>

<script>
  jQuery(function($) {
    cat_obj = $('.shop-container').attr('data-product-cat-obj');
    series_obj = $('.shop-container').attr('data-product-series-obj');
    if (cat_obj) {
      scrollPos1 = $('#' + cat_obj).position().top; // use the text of the span to create an ID and get the top position of that element
      $(document).ready(function(){
        $('.cat-list-panel').animate({ // animate your right div
            scrollTop: scrollPos1 // to the position of the target 
        }, 100); 
      });
    };
    if (series_obj) {
      scrollPos2 = $('#' + series_obj).position().top; // use the text of the span to create an ID and get the top position of that element
      $(document).ready(function(){
        $('.series-list-panel').animate({ // animate your right div
            scrollTop: scrollPos2 // to the position of the target 
        }, 100); 
      });
    };
  });
</script>