<div id="SiteFooter" class="uk-light">
  <!--FOOTER-->
  <footer id="FooterArea" data-template="footer.twig">
    <div id="FooterTop" class="footer_top footer_top_right uk-section uk-section-small uk-section-primary theme-darker-bg standard-text fat-border-top">
      <div class="uk-container">
        
        <div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
          
          <div class="">
            {% if sidebar_footer_1 %}
            {{ sidebar_footer_1 }}
            {% else %}
            <h3 class="uk-text-bold uk-text-muted widget-title">Footer 1</h3>
            <p>Add some widgets to the Footer Widget Area 2</p>
            {% endif %}
          </div>
          
          <div class="">
            {% if sidebar_footer_2 %}
            {{ sidebar_footer_2 }}
            {% else %}
            <h3 class="uk-text-bold uk-text-muted widget-title">Footer 2</h3>
            <p>Add some widgets to the Footer Widget Area 2</p>
            {% endif %}
          </div>
          
          <div class="">
            {% if sidebar_footer_3 %}
            {{ sidebar_footer_3 }}
            {% else %}
            <h3 class="uk-text-bold uk-text-muted widget-title">Footer 3</h3>
            <p>Add some widgets to the Footer Widget Area 3</p>
            {% endif %}
          </div>
          
          <div class="">
            {% if sidebar_footer_4 %}
            {{ sidebar_footer_4 }}
            {% else %}
            <h3 class="uk-text-bold uk-text-muted widget-title">Footer 4</h3>
            <p>Add some widgets to the Footer Widget Area 4</p>
            {% endif %}
          </div>
          
        </div>
      </div>
    </div>
    
    <div id="FooterBottom" class="footer_bottom">
      <div id="FooterBottomWrap" class="footer_bottom_wrap uk-section uk-section-xsmall navbar-height-45 theme-dark-bg muted-text-dark-bg standard-text">
        <div class="uk-container">
          <div class="uk-grid uk-child-width-1-2@s uk-text-center uk-text-left@s" data-uk-grid="">
            <div class=" uk-first-column">
              {% if sidebar_footer_bottom_left %}
              {{ sidebar_footer_bottom_left }}
              {% else %}
              <p>Add some widgets to the Footer Bottom Left Widget Area</p>
              {% endif %} 
            </div>
            <div class="uk-text-center uk-text-right@s">
              {% if sidebar_footer_bottom_right %}
              {{ sidebar_footer_bottom_right }}
              {% else %}
              <p>Add some widgets to the Footer Bottom right Widget Area</p>
              {% endif %} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>



