<header>
  
  <div id="PrimaryHeader" class="uk-section uk-section-small">
    <div class="uk-container uk-container-expand">
      <div class="uk-flex uk-flex-middle" uk-grid>
        <div class="uk-width-1-2 uk-width-medium@m">
          
          {% if theme_logo_url %}
            <a href="{{ site.url }}" title="{{ site.title }}">
              <img class="uk-logo" data-src="{{ theme_logo_url }}" width="225" height="82" alt="{{ site.title }} Logo" uk-img>
            </a>
          {% else %}
            <a href="{{ site.url }}">
              <img class="uk-logo" data-src="https://via.placeholder.com/225x82.png?text=+" width="225" height="82" alt="" uk-img>
            </a>
          {% endif %}
          
        </div>
        <div class="uk-width-expand uk-visible@m">
        
          {{function ('get_product_search_form')}}
        
        </div>
        <div class="uk-width-auto uk-visible@m">
        
          <ul class="uk-navbar-nav pull-left-15">
            {% if has_help_menu %}
              <li class="uk-inline">
                <a href="#">
                  <i class="far fa-question-circle fa-2x uk-margin-small-right"></i>
                  {{help_menu.title}}
                </a>
                <div uk-dropdown>
                  <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header oswald">{{help_menu.title}}</li>
                    <li class="uk-nav-divider"></li>
                    {% for item in help_menu.get_items %}
                      <li class="{{ item.classes | join(' ') }}">
                        <a href="{{ item.get_link }}">{{ item.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endif %}
            {% if has_trade_menu %}
              <li class="uk-inline">
                <a href="#">
                  <i class="fas fa-truck-loading fa-2x uk-margin-small-right"></i>
                  {{trade_menu.title}}
                </a>
                <div uk-dropdown>
                  <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header oswald">{{trade_menu.title}}</li>
                    <li class="uk-nav-divider"></li>
                    {% for item in trade_menu.get_items %}
                      <li class="{{ item.classes | join(' ') }}">
                        <a href="{{ item.get_link }}">{{ item.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endif %}
            <li class="uk-inline">
              <a href="{{dashboard_endpoint}}">
                <i class="far fa-user-circle fa-2x uk-margin-small-right"></i>
                {% if is_user_logged_in %}Account{% else %}Sign up/Login{% endif %}
              </a>
              {% if has_account_menu %}
                <div uk-dropdown>
                  <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header oswald">{{account_menu.title}}</li>
                    <li class="uk-nav-divider"></li>
                    {% for item in account_menu.get_items %}
                      <li class="{{ item.classes | join(' ') }}">
                        <a href="{{ item.get_link }}">{{ item.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </li>
            <li class="uk-inline">
              <a href="#MiniCartModal" uk-toggle>
                <i class="fas fa-shopping-basket fa-2x uk-margin-small-right"></i>
                Basket
                <span class="uk-margin-small-left">
                  {% do action('cart_ajax_result_count') %}
                  {% do action('cart_ajax_subtotal') %}
                </span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  
  <div id="TertiaryHeader" class="" uk-sticky="animation: uk-animation-slide-top">
    
    <div class="uk-grid-collapse uk-grid-middle" uk-grid>
      <div class="uk-width-expand uk-background-secondary uk-light uk-padding-small">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
          <div class="uk-navbar-left uk-light">
            
            <a class="uk-navbar-toggle uk-navbar-item uk-text-emphasis uk-padding-remove uk-text-bold uk-hidden@s" href="#">
              <i class="fas fa-bars fa-lg"></i><span class="uk-flex-last uk-margin-small-left">Menu</span>
            </a>
            
            {% if has_menu_main %}
              <ul class="uk-navbar-nav the-main-menu uk-visible@s">
                {% for item in menu_main.get_items %}
                
                  {% if item.get_children %}
                  
                    <li class="uk-light {{ item.classes | join(' ') }}"><a class="uk-h5 dont-underline uk-margin-remove" href="{{ item.link }}">{{ item.title }}<i class="fas fa-angle-down menu-dropicon uk-margin-small-left"></i></a>
                      <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          {% for child in item.get_children %}
                          <li>
                            <a class="uk-h5 dont-underline uk-margin-remove" href="{{ child.get_link }}">{{ child.title }}</a>
                              {% if child.children %}
                              <ul class="uk-nav-sub">
                                {% for third in child.children %}
                                <li>
                                  <a class="uk-h5 dont-underline uk-margin-remove" href="{{ third.get_link }}">{{ third.title }}</a>
                                </li>
                                {% endfor %}
                              </ul>
                              {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                  
                  {% else %}
                    <li class=" {{ item.classes | join(' ') }}"><a class="uk-h5 dont-underline uk-margin-remove" title="{{ item.title }}" href="{{ item.get_link }}">{{ item.title }}</a></li>
                  {% endif %}
                
                {% endfor %}
              </ul>
            {% else %}
              <p class="uk-margin-remove uk-light">Add a menu to the Main Menu slot in Appearance > Menus</p>
            {% endif %}
  
          </div>
        </nav>
      </div>
      <div class="uk-width-auto uk-section-primary uk-light uk-padding-small">
        <div class="uk-child-width-auto" uk-grid>
          <div class="">
            <a href="#" class="uk-h5 dont-underline uk-margin-remove"><i class="fas fa-phone-alt"></i><span class="uk-margin-small-left uk-visible@xl">Call us on <span class="uk-text-underline">01 123 4567</span></a>
          </div>
          <div class="">
            <a href="#" class="uk-h5 dont-underline uk-margin-remove"><i class="far fa-envelope"></i><span class="uk-margin-small-left uk-visible@xl">Email us at <span class="uk-text-underline">info@nedmurphytractors.ie</span></a>
          </div>
          <div class="">
            <a href="#" class="uk-h5 dont-underline uk-margin-remove"><i class="fab fa-facebook-f"></i><span class="uk-margin-small-left uk-visible@xl">Find us on <span class="uk-text-underline">Facebook</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</header>

<div id="MiniCartModal" class="minicart-modal" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-body height-content uk-padding-remove" uk-overflow-auto>
      <div class="widget_shopping_cart_content">
        {{fn('woocommerce_mini_cart')}}
      </div>
      
      <script>
      jQuery(function($) {
        function WooMiniCart() {
          $(".woocommerce-mini-cart__buttons .button:first-child").addClass("uk-button uk-button-primary uk-button-small uk-width-1-1");
          $(".woocommerce-mini-cart__buttons .button.checkout").addClass("uk-button uk-button-link uk-width-1-1 dont-underline");
        };
        $(".widget_shopping_cart_content").load(WooMiniCart());
        $("body").on('DOMSubtreeModified', ".minicart-modal", WooMiniCart);
      });
      </script>
    </div>
  </div>
</div>