{% extends 'base.twig' %}

{% block spec_styles %}
  <style>
    .onsale.uk-card-badge {
      top: 15px;
      right: 15px;
    }
    .term-description>p {
      margin: 0;
    }
  </style>
{% endblock %}

{% block pageheader %}
  <section id="PageTitleSection" class="uk-section uk-background-muted">
    <div class="uk-container uk-container-small uk-text-center">
      <h1 class="uk-text-uppercase uk-h2 uk-text-muted">{{title|e('esc_html')}}</h1>
      {% do action('woocommerce_archive_description') %}
    </div>
  </section>
{% endblock %}

{% block breads %}
{% endblock %}

{% block contentonly %}

  <div class="" data-block="content-wrap" data-template="shop.twig">
    <div class="uk-container">
      
      {% do action('woocommerce_before_main_content') %}
    
      {% if term_subs is not empty and function('current_product_cat_var') == false %}
        {% if function('current_product_series_var') == true or function('current_product_series_var') == false %} 
          <div class="uk-child-width-1-{{products_grid_columns|e('html_attr')}}@m uk-grid-small uk-flex uk-flex-center" uk-grid>
            {% for term in term_subs %}
              {% include 'tease-term.twig' %}
            {% endfor %}
          </div>
        {% endif %}
      {% elseif term_subs is empty and function('current_product_series_var') == false and function('is_tax', 'product_series') and cats_from_series is not empty %}  
        <div class="uk-child-width-1-{{products_grid_columns|e('html_attr')}}@m uk-grid-small uk-flex uk-flex-center" uk-grid>
          {% for new_cat in cats_from_series %}
            {% include 'tease-cat-from-series.twig' %}
          {% endfor %}
        </div>
      {% else %}
        <div class="" uk-grid>
          
          <div class="uk-width-1-4@m uk-visible@m">
            {% include 'shop-filters.twig' %}
          </div>
          
          <div class="uk-width-3-4@m">
            
            {% include 'shop-toolbar.twig' %}

            <div id="ProductsGrid" class="archive-posts products uk-child-width-1-2 uk-child-width-1-{{products_grid_columns|e('html_attr')}}@m uk-grid-small archive-posts" uk-grid="masonry: true">
              {% for post in products %}
               {% include tease_template %}
              {% endfor %}
            </div>
            {% if products is empty %}
              {% do action('woocommerce_no_products_found') %}
            {% endif %}
            {% include 'pagination.twig' with { pagination : products.pagination( { show_all: true, mid_size: 3, end_size: 2 } ) } %}
          
          </div>
          
        </div>
      {% endif %}

      {% do action('woocommerce_after_shop_loop') %}

      {% do action('woocommerce_after_main_content') %}

    </div>
  </div>
{% endblock %}

{% block spec_scripts %}
  <script type='text/javascript' src='{{theme.link|e('esc_url')}}/assets/js/woo/shop.js'></script>
{% endblock %}