{% extends "base.twig" %}

{% block spec_styles %}

  <link rel="stylesheet" href="/wp-content/themes/sixstar-theme/assets/css/lightslider.css" />
  <script type="text/javascript" src="/wp-content/themes/sixstar-theme/assets/js/lightslider.js"></script> 
  <link rel="stylesheet" href="/wp-content/themes/sixstar-theme/assets/css/single-product.css" />

{% endblock %}

{% block content %}

  <div id="product-{{post.id}}" itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}">
    <div class="content-area uk-section uk-section-small uk-section-muted">
      <div class="uk-container">
        
        <div class="" uk-grid="masonry: true;">
          <div class="uk-width-1-2@m">
            <div class="custom-product-images">
              <ul id="lightSlider">
                <li data-thumb="{{ post.thumbnail.src('thumbnail') }}">
                  <div uk-lightbox>
                    <a href="{{ post.thumbnail.src('full') }}" data-caption="{{post.title}}">
                      <img src="{{ post.thumbnail.src('sixstar-theme-product-main-image') }}" />
                    </a>
                  </div>
                </li>
                {% for attachment_id in attachment_ids %}
                {% set attach_main = function('wp_get_attachment_image_src', attachment_id, 'sixstar-theme-product-main-image') %}
                {% set attach_thumb = function('wp_get_attachment_image_src', attachment_id, 'thumbnail') %}
                {% set attach_full = function('wp_get_attachment_image_src', attachment_id, 'full') %}
                <li data-thumb="{{attach_thumb[0]}}">
                  <div uk-lightbox>
                    <a href="{{attach_full[0]}}" data-caption="{{post.title}}">
                      <img src="{{attach_main[0]}}" />
                    </a>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            {# do action('woocommerce_before_single_product_summary') #}
          </div>
          <div class="uk-width-1-2@m">
            <span class="uk-text-bold uk-text-large uk-text-primary">Enter now for a chance to win</span>
            {% do action('woocommerce_single_product_summary') %}
          </div>
          <div class="uk-width-1-2@m">
            {% do action('woocommerce_after_single_product_summary') %}
        </div>
        
        
      </div>
    </div>
        
  </div>

{% endblock %}

{% block spec_scripts %}
  
  <script type="text/javascript" src="/wp-content/themes/sixstar-theme/assets/js/single-product.js"></script>

{% endblock %}