{% extends "page.twig" %}

{% block styles %}
  <!-- load in swiper-js css -->
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/lib/swiper-bundle.min.css" />
  <!-- single product styles -->
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/product.css" />
{% endblock %}

{% block article %}
  <article class="uk-article" data-template="single-product.twig">
    <div id="product-{{post.id|e('html_attr')}}" itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class|e('html_attr') }}">
    
      {% block product_header %}
        <header class="product-header">
          {% block breads %}
            <div class="breads-container uk-container">
              {% include 'breads.twig' %} 
            </div>
          {% endblock %}
        </header>
      {% endblock %}
      
      {% do action('woocommerce_before_single_product') %}
      
      <section class="product-content-section uk-section uk-section-small uk-container">
          
        <div class="" uk-grid="masonry: true;">
          
          <div class="product-left uk-width-2-5@m">
            {% do action('woocommerce_before_single_product_summary') %}
          </div>
          
          <div class="product-right uk-width-3-5@m">
            {% do action('woocommerce_single_product_summary') %}
          </div>
        
        </div>
          
      </section>
      
      <section class="product-tabs-section uk-container">
        {% do action('woocommerce_after_single_product_summary') %}
      </section>
      
      <meta itemprop="url" content="{{ post.link|e('esc_url') }}" />
      
      <section class="product-related-upsells-section uk-section uk-section-small uk-container padding-remove-top">
        
        {% if not related_products is empty %}
          <h2 class="uk-h3">{{related_products_title|e('esc_html')}}</h2>
          <div id="slideshow_related" class="swiper-container">
            <div class="swiper-wrapper">
              
              {% for post in related_products %}
                <div class="swiper-slide">
                  {% include 'tease-product.twig' %}
                </div>
              {% endfor %}
              
            </div>
            {% if not related_products > 4 %}
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            {% endif %}
          </div>
        {% endif %}
        
        {% if not up_sells is empty %}
          <h2 class="uk-h3">{{up_sells_title|e('esc_html')}}</h2>
          <div id="slideshow_upsells" class="swiper-container">
            <div class="swiper-wrapper">
              
              {% for post in up_sells %}
                <div class="swiper-slide">
                  {% include 'tease-product.twig' %}
                </div>
              {% endfor %}
              
            </div>
            {% if not up_sells > 4 %}
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            {% endif %}
          </div>
        {% endif %}
        
      </section>
      
      {% do action('woocommerce_after_single_product') %}
    
    </div>
  </article>
{% endblock %}

{% block scripts %}
  <!-- load in swiper-js js -->
  <script src="{{theme.link|e('esc_url')}}/assets/js/lib/swiper-bundle.min.js"></script>
  <script type='text/javascript' src='{{theme.link|e('esc_url')}}/assets/js/woo/single-product.js'></script>
{% endblock %}