{% extends "base.twig" %}

{% block spec_styles %}
  <!-- load in swiper-js css -->
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/lib/swiper-bundle.min.css" />
  <!-- single product styles -->
  <link rel="stylesheet" href="{{theme.link|e('esc_url')}}/assets/css/single-product.css" />
{% endblock %}

{% block content %}
  <div id="product-{{post.id|e('html_attr')}}" itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class|e('html_attr') }}">
    <div class="content-area uk-section uk-section-small uk-section-default">
      <div class="uk-container">
        {% do action('woocommerce_before_single_product') %}
        
        <div class="uk-child-width-1-2@m" uk-grid="masonry: true;">
          
          <div class="product-left">
            {% do action('woocommerce_before_single_product_summary') %}
          </div>
          
          <div class="product-right">
            {% do action('woocommerce_single_product_summary') %}
          </div>
        
        </div>
        
        <div class="tabs-related-upsells uk-margin-top">
          {% do action('woocommerce_after_single_product_summary') %}
          
          <meta itemprop="url" content="{{ post.link|e('esc_url') }}" />
          
          {% if not related_products is empty %}
            <h2>{{related_products_title|e('esc_html')}}</h2>
            <div id="slideshow_related" class="swiper-container">
              <div class="swiper-wrapper">
                
                {% for post in related_products %}
                  <div class="swiper-slide">
                    {% include 'tease-product.twig' %}
                  </div>
                {% endfor %}
                
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
          {% endif %}
          
          {% if not up_sells is empty %}
            <h2>{{up_sells_title|e('esc_html')}}</h2>
            <div id="slideshow_upsells" class="swiper-container">
              <div class="swiper-wrapper">
                
                {% for post in up_sells %}
                  <div class="swiper-slide">
                    {% include 'tease-product.twig' %}
                  </div>
                {% endfor %}
                
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
          {% endif %}
          
        </div>
        
        {% do action('woocommerce_after_single_product') %}
      </div>
    </div>  
  </div>
{% endblock %}

{% block spec_scripts %}
  <!-- load in swiper-js js -->
  <script src="{{theme.link|e('esc_url')}}/assets/js/lib/swiper-bundle.min.js"></script>
  <script type='text/javascript' src='{{theme.link|e('esc_url')}}/assets/js/woo/single-product.js'></script>
{% endblock %}