{{ fn('timber_set_product', post) }}
<div id="ProductItem{{ post.id }}" class="entry item grid-item product-grid-item {{ post.class }}" data-product-id="{{ post.id }}">
  <div class="uk-card uk-background-default">
     {% do action('woocommerce_before_shop_loop_item') %}
     <div id="ProductInfo" class="uk-card-body uk-padding-small">
       <a class="single-product-image-link" href="{{ post.link }}">
         <img data-src="{{ post.thumbnail.src('rmcc-woo-theme-product-main-image') }}" class="single-product-image" alt="{{ post.thumbnail.alt }}" uk-img>
       </a>
       {% do action('woocommerce_before_shop_loop_item_title') %}
        <div class="tease-product-cats uk-margin-small-top uk-text-bold uk-text-small">
          {{ post.terms( {query:{taxonomy:'product_cat', orderby:'name', order: 'ASC'}} )|join(', ') }}
        </div>
        <div id="ProductTitle" class="uk-margin-small-bottom">
          {% do action('woocommerce_shop_loop_item_title') %}
          <h3 class="uk-card-title"><a class="uk-link-heading" href="{{ post.link }}">{{ post.title }}</a></h3>
        </div>
        <div id="ProductPriceRating" class="uk-margin-small-bottom">
           {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
        </div>
        <div id="ProductButtons" class="">
          {% do action( 'woocommerce_after_shop_loop_item' ) %}
        </div>
     </div>

  </div>
</div>